<!DOCTYPE html>
<html>

<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">

</head>

<body>
    <div ng-app="tasty">

        <div ng-controller="MainController">
            <h1 ng-bind="title"></h1>

            <div align="center" class="">
                <div class=>
                    <h1 ng-click="increment(counter);"A HREF="javascript:history.go(0)">Increment</h1>
                </div>
                <div>
                    <img src="{{gifData}}">
                </div>
                <div>
                    <h1 ng-click="decrement(counter);">Decrement</h1>
                </div>

            </div>

            <div>

            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>